<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <title>Is it Pomodoro break?</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="follow, all"/>
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="/img/icon-pomodoro.png" type="image/png" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="twelvecol last">
            <h1>Is it <span class="red">Pomodoro</span> break?</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="twelvecol last">
            <h2 class="{{ status }}" id="status">{{ status }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="fourcol">
            <h3><img src="/img/icon-pomodoro.png" alt="The Pomodoro Technique" title="The Pomodoro Technique" /> The Pomodoro Technique</h3>
            <p><a href="http://www.pomodorotechnique.com/">The Pomodoro Technique®</a> created by Francesco Cirillo in the 1980s is a way to get the most out of time management.
                It is practiced by professional teams and individuals around the world. <a href="http://www.pomodorotechnique.com/">Learn more about it</a>.</p>
        </div>
        <div class="fourcol">
            <h3><img src="/img/icon-about.png" alt="About isitpomodorobreak.com" title="About isitpomodorobreak.com"/> About isitpomodorobreak.com</h3>
            <p>It shows up every 25 minutes if it is time for a Pomodoro break or not. You can let this site open in your Browser or on your Mobile device, the status changes automatically. </p>
        </div>
        <div class="fourcol last">
            <h3><img src="/img/icon-github.png" alt="Open-source" title="Open-source" /> Open-Source</h3>
            <p>Built for the community via <a href="https://github.com/m83/isitpomodorobreak.com">GitHub</a>.<br />
                Use the <a href="/api/">API Interface</a> to connect your personal hardware device like  <a href="http://arduino.cc/">Arduino</a>, <a href="http://www.freeduino.org/">Freeduino</a> etc.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="twelvecol last">
            <ul class="quick-links">
                <li>
                    <iframe class="github-btn w112" src="http://markdotto.github.com/github-buttons/github-btn.html?user=m83&amp;repo=isitpomodorobreak.com&amp;type=watch&amp;count=true"></iframe>
                </li>
                <li>
                    <iframe class="github-btn w98" src="http://markdotto.github.com/github-buttons/github-btn.html?user=m83&amp;repo=isitpomodorobreak.com&amp;type=fork&amp;count=true"></iframe>
                </li>
                <li class="follow-btn">
                    <a href="https://twitter.com/mhauri" class="twitter-follow-button" data-show-count="true">Follow @mhauri</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
                <li class="tweet-btn">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://isitpomodorobreak.com" data-via="mhauri" data-lang="en">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li class="fb-btn">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fisitpomodorobreak.com&amp;send=false&amp;layout=button_count&amp;width=112&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21&amp;appId=228613170483428" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:112px; height:21px;" allowTransparency="true"></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="time">{{ time }}</div>
<script type="text/javascript" src="/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1020866-20']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>