<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>is it Pomodoro break?</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

    <link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

    <script type="text/javascript" src="js/css3-mediaqueries.js"></script>

    <style type="text/css">

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .container p {
            color: #fff;
            line-height: 100px;
            background: #000;
            text-align: center;
            margin: 20px 0 0 0;
        }
    </style>
</head>
<body>
isitpomodorobreak.com
</body>
</html>